Source: xmldiff
Section: misc
Priority: optional
Maintainer: Alexandre Fayolle <afayolle@debian.org>
Uploaders: Sylvain Thenault <syt@logilab.fr>,
	   Alexandre Fayolle <alexandre.fayolle@logilab.fr>,
	   Emile Anclin <emile.anclin@logilab.fr>
	   Alain Leufroy <alain.leufroy@logilab.fr>
Build-Depends: debhelper (>= 5.0.38), python (>=2.4.6-2), python-dev (>=2.4.6-2), python-support
Standards-Version: 3.8.3
XS-Python-Version: current
Homepage: http://www.logilab.org/project/xmldiff

Package: xmldiff
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Conflicts: python2.3-xmldiff
Replaces: python2.3-xmldiff
XB-Python-Version: ${python:Versions}
Suggests: xmldiff-xmlrev, python-psyco
Description: tree to tree correction between xml documents
 Xmldiff is a utility for extracting differences between two xml
 files.  It returns a set of primitives to apply on source tree to
 obtain the destination tree.
 .
 The implementation is based on _Change detection in hierarchically
 structured - information_, by S. Chawathe, A. Rajaraman,
 H. Garcia-Molina and J. Widom, - Stanford University, 1996
 

Package: xmldiff-xmlrev
Architecture: all
Depends:  xmldiff, libxml2-utils, xsltproc, sp
Recommends: docbook-xsl
Description: xmldiff output formatter
 xmlrev can be used to display the differences between two XML
 documents computed by xmldiff as an HTML document.

