#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=4

PYVERSIONS=2.3

build: build-stamp
build-stamp: 
	dh_testdir
	for v in $(PYVERSIONS) ; do \
	    python$$v setup.py -q build ; \
	done
	touch build-stamp

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	rm -rf build
	rm -rf debian/python?.?-tmp*/
	find . -name "*.pyc" | xargs rm -f
	rm -f changelog.gz
	dh_clean

install: install-stamp
install-stamp: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs


	python2.3 setup.py -q install_lib --no-compile --install-dir=debian/python2.3-xmldiff/usr/lib/python2.3/site-packages
	python2.3 setup.py -q install_headers --install-dir=debian/python2.3-xmldiff/usr/include/
	python2.3 setup.py -q install_scripts --install-dir=debian/python2.3-xmldiff/usr/bin/
	# remove test directory (installed in a separated package)
	rm -rf debian/python2.3-xmldiff/usr/lib/python2.3/site-packages/logilab/xmldiff/test debian/python2.3-xmldiff/usr/share/sgml/ debian/python2.3-xmldiff/usr/bin/xmlrev

	for v in $(PYVERSIONS) ; do \
	    PYTHON=python$$v ; \
	    PYTMP="debian/$$PYTHON-xmldiff" ; \
	    i=$$PYTMP/usr/bin/xmldiff ; \
	    if head -1 $$i | grep "^#! */usr/bin" | grep "python" >/dev/null ; then \
	        sed "s@^#! */usr/bin/env \+python\$$@#!/usr/bin/$$PYTHON@;s@^#! */usr/bin/python\$$@#!/usr/bin/$$PYTHON@" <$$i >$$i.$$PYTHON; \
                mv $$i.$$PYTHON $$i ; \
	    fi ; \
	    chmod a+x $$i ; \
	done
	# install tests
	(cd test && find . -type f -not \( -path '*/CVS/*' -or -name '*.pyc' \) -exec install -D --mode=644 {} ../debian/xmldiff-test/usr/share/doc/xmldiff/test/{} \;)
	touch install-stamp


# Build architecture-independent files here.
binary-indep: install
	dh_testdir -i
	dh_testroot -i
	dh_install -i
	dh_installman -i
	gzip -9 -c ChangeLog > changelog.gz
	dh_installdocs -i -A README TODO changelog.gz 
	dh_installchangelogs -i
	dh_link -i
	dh_compress -i -X.py
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir -a
	dh_testroot -a
	dh_install -a
	dh_installman -a
	# install text documentation
	for v in $(PYVERSIONS) ; do \
	    PACKAGE=python$$v-xmldiff ; \
	    cp -r doc/HELP.txt doc/API.txt debian/$$PACKAGE/usr/share/doc/$$PACKAGE/ ; \
	done
	# install html documentation
	for v in $(PYVERSIONS) ; do \
	    PACKAGE=python$$v-xmldiff ; \
	    cp -r doc/HELP.html doc/API.html debian/$$PACKAGE/usr/share/doc/$$PACKAGE/html ; \
	done
	gzip -9 -c ChangeLog > changelog.gz
	dh_installdocs -a -A README TODO changelog.gz 
	dh_installchangelogs -a
	dh_strip -a
	dh_link -a
	dh_compress -a -X.py 
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build install clean binary-arch binary-indep binary

